
/* Google Fonts Import */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap');

p{
    font-family: Merriweather Sans;
}

h1, h2, h3 {
    font-family: Montserrat;
}

body{
    background-color: #F3F7F5;
}

footer {
    background-color: #0F1A14;
}

button {
    font-size: 18px;
    font-weight: bold;
}

button:hover {
    font-size: 18px;
    font-weight: bold;
    background-color: #009E60;
}

#mainMenu, #mainMenu .top-bar-left, #mainMenu .top-bar-left, #mainMenu ul{
    background-color: #F3F7F5;
}

#mainMenu a{
    text-align: center;
    color: #0F1A14;
}

#mainMenu a:hover{
    color: #009E60;
    transition: .3s;
    text-decoration: underline;
}

#mobileMenu{
    background-color: #F3F7F5;
}

#mobileMenu {
    background-color: #009E60;
    border-top: 1px solid #F3F7F5;
}

#heroBackground {
    background: no-repeat center url("imgSrc/HeroBackground.jpg");
    background-size: cover;
    width: 100vw;
    height: 700px;
    color: #fff;
}

#heroBackground h1{
    font-family: Montserrat;
    font-size: 55px;
}

#heroBackground p{
    font-family: Montserrat;
    font-size: 22px;
}


#contactForm input, #contactForm input[type="phone"], #contactForm textarea {
    background-color: #FFF;
    border-radius: 31px;
    border: none;
    padding: 1em;
    box-shadow: rgba(99, 99, 99, 0.2) 2px 2px 8px 0px;
}

#contactForm textarea {
    margin: 1em;
}

#contactForm input[value="Submit"]{
    background-color:#B92C27;
    padding: 1em 2.5em;
}

.button {
    font-size: 18px;
    font-weight: bold;
    border-radius: 31px;
    background-color: #009E60;
}

.button:hover {
    font-size: 18px;
    font-weight: bold;
    border-radius: 31px;
    background-color: #009E60;
}

.topHeader{
    padding: .6em;
    background-color: #009E60;
}

.topHeader img{
    margin-right: 20px;
}

.topHeader .cell{
    color: #fff;
    font-size: 18px;
}

/* fix second button color  */
.heroButtonContainer a{
    background-color: #009E60;
    font-weight: bold;
    font-size: 18px;
    margin-right: 1em;
    padding: 1em 2.5em; 
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
} 

.heroButtonContainer a:last-child{
    background-color:#B92C27;
}

.mainCTASection{
    background-color: #F3F7F5;
    padding: 5em 0em;
    text-align: center;
}

.mainCTASection .cell{
    background-color: #fff;
    color: #0F1A14;
    text-align: center;
    border-radius: 40px;
    margin: 20px;
    padding: 2em;
    position: relative;
}

.mainCTASection .cell h3{
    font-size: 20px;
    font-weight: bold;
    color: #0F1A14;
}

.mainCTASection button{
    background-color: #009E60;
    color: #fff;
    padding: 1.25em;
    border-radius: 31px;
    position: absolute;
    left: 35%;
}

.subHeadingGreen{
    color: #009E60;
    font-size: 40px;
    font-weight: bold;
    font-family: Montserrat;
    margin-bottom: 40px;
}

.infoLinkList{
    padding: 5em 0em;
    background-color: #DAE7E0;
}

.infoLinkList .cell{
    padding: .5em 1.2em;
}

.mainServicesGridRow {
    border-bottom: 1px solid #f4f4f4;
    padding: 1em;
}

.infoLinkListItem p{
    margin: 0px;
}

.infoLinkList a{
    color: #009E60;
    font-size: 14px;
    font-weight: bold;
}

.infoLinkList h2{
    color: #009E60;
    font-size: 40px;
    font-weight: bold;
}

.infoLinkList .cell h3{
    font-size: 20px;
    font-weight: bold;
    color: #0F1A14;
}

.mainServicesGrid{
    background-color: #fff;
    border-radius: 40px;
}

.lastListCell{
    background-color:#009E60;
    border-radius: 0px 0px 40px 40px;
}

.lastListCell .cell:last-child{
    padding-top: 1.6em;
}

.lastListCell p{
    color: #F3F7F5;
    font-size: 20px;
    font-weight: bold;
    margin-top: 18px;
}

.lastListCell .lastListCellButton{
    background-color: #F3F7F5;
    color:#B92C27;
    padding: 1em 2.5em;
    border-radius: 31px;
}

.testimonials {
    padding: 5em 0em;
    background-color: #F3F7F5;
}

.testimonials .button{
    background-color: #B92C27;
    color: #fff;
    padding: 1.25em;
    border-radius: 31px;
}


.testimonialsAuthor {
    font-size: 20px;
    font-weight: bold;
    color: #0F1A14;
    margin-right: 10px;
}

.testimonials h3{
    font-size: 20px;
    font-weight: bold;
    margin: 0px;
}

.contactCTA{
    text-align: center;
    border-right: 1px solid #cecccc;
}

.contactCTA p{
    text-align: center;
    font-size: 25px;
    padding-top: .5em;
}

.benefitsGrid{
    padding: 2em;
}


.benefitsGrid > div{
    border-bottom: 1px solid #cecccc;
}

.benefitsGrid .cell{
    padding: .4em;
}

.testimonialSlider {
    padding: 2em;
}

.swiper-slide p{
    font-size: 18px;
    color: #0F1A14;

}

.swiper-pagination {
    margin-top: 20px;
    position: inherit;
    text-align: left;
}

.swiper-pagination-bullet{
    width: 20px;
    height: 20px;
    background-color:#fff;
    border: 1px solid #009E60;
    opacity:.5;
}

.swiper-pagination-bullet-active {
    width: 20px;
    height: 20px;
    background-color:#009E60;  
    border: 1px solid #009E60;
    opacity:1; 
}

.contactSection{
    padding: 5em 0em;
    background-image: linear-gradient(#009e5fd8, #0f1a14d0), url("imgSrc/lead-background.jpg");
    background-size: cover;
}


.contactFormBottom{
    background-color: #F3F7F5;
    padding: 2em;
    border-radius: 31px;
}

.contactFormBottom p{
    text-align: center;
    font-size: 25px;
    color: #0F1A14;
}

.contactFormCTA{
    padding-left: 4em;
    color: #F3F7F5;
}

.contactFormCTA h2 {
    color: #F3F7F5;
    font-size: 40px;
    font-weight: bold;
    font-family: Montserrat;
    margin-bottom: 20px;
}

.contactFormCTA .button {
    background-color: #F3F7F5;
    color:#B92C27;
    padding: 1em 2.5em;
    border-radius: 31px;
}

.footerLinks{
    padding: 5em 0em;;
}

.footerLinks .cell{
    padding: 1em;
}

.footerLinks .cell:first-child{
    text-align: center;
}


.footerLinks a{
    color: #F3F7F5;
    font-size: 14px;
}

.footerText{
    color: #F3F7F5;
    font-size: 14px;
    padding: .5em;
}

.footerLinks a:hover{
    text-decoration: underline;
}

.footerLinks .footerButton{
    color: #F3F7F5;
    background-color:#B92C27;
    padding: 1em 1.5em;
    border-radius: 31px;
    font-size: 18px;
    text-decoration: none;
}

.footerHeading{
    text-transform: uppercase;
    color:#009E60;
    font-size: 20px;
    font-weight: bold;
}

.bottomBar{
    background-color: #000;
    padding: 1em 2em;
}

.bottomBar p, .bottomBar a{
    margin-top: 8px;
    color: #F3F7F5;
    font-size: 14px;
}

.bottomBar a:hover{
    color: #F3F7F5;
    font-size: 14px;
    text-decoration: underline;
}



@media screen and (max-width: 767px) {
    .menu{
        display: flex;
        flex-direction: column;
    }

    .topHeader .cell{
        text-align: center;
    }

    .infoLinkListItem{
        border-bottom: 1px solid #f4f4f4;
    }

    .lastListCell {
        text-align: center;
    }

    .mainServicesGridRow {
        border-bottom: none;
    }

    .contactFormCTA{
        padding: 1em;
        text-align: center;
    }

    .subHeadingGreen{
        text-align: center;
    }

    .mainCTASection button{
        position: absolute;
        left: 32%;
    }

    .bottomBar .cell{
        text-align: center;
    }
    
}